<html>
<head>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    
    {% load static %}
    {% load i18n %}

    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width">
    <meta charset="utf-8" />


    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />-->
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script type="text/javascript" src="/static/index.js"></script>

    

</head>
<style>

.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
.same_lenght{
  width: 150px;
}




.navbar-brand img.brandsize {
    background-color: transparent; /* Ensures no background color */
    width: auto; /* Adjust to your needs, keeps the image's aspect ratio */
    height: 30px; /* Example height; adjust as necessary without scaling too much */
    object-fit: contain; /* Keeps the image's aspect ratio without cropping */
}







</style>
<body class="coverMap">

  <!-- adding navbar -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    

      <span class="navbar-brand mb-0 h1">
        <img class="brandsize" src="{% static 'images/logo.jpg' %}" alt="">
      </span>


      <!-- the hamberger view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

          <!-- adding collapsable elements to the navbar -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          

          <!-- Login sigin links -->
                  <div class="navbar-nav ml-auto">
                    {% block content %}
                      {% if user.is_authenticated %}

                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <span class="navbar-text">
                            {% translate "Hi" %} {{ user.username }}!
                          </span>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">{% translate "logout" %}</a></li>
                        </ul>

                        {% else %}

                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <span class="navbar-text">
                              {% translate "You are not logged in:" %}
                            </span>
                          </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">{% translate "login" %}</a></li>
                        <li class="nav-item">
                          <span class="navbar-text">
                              |
                          </span>
                        </li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">{% translate "signup" %}</a></li>
                        </ul>
                      {% endif %}
                    {% endblock %}


                  </div>

                  <div>
                    <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select name="language" onchange="this.form.submit();">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% for lang in LANGUAGES %}
                            <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang.1 }}
                            </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>

        </div>

        
        

        
  </nav>

  <div class="div1">
    <p>
      {% translate "The Ponderful project is dedicated to empowering decision-makers in pond management and policy development with a  decision support tool. This tool assists the decision makers in selecting the most strategic direction—whether to maintain the status quo, moderately increase, or significantly boost the number of ponds—by assessing the effects of diverse <b>Nature Based Solutions (NBS)</b> on <b>Nature Contribution to People (NCP)</b>, within specific climate change and land use scenarios, and thus predict the trends or values for different NCP indicators for the year 2050." %}
  <p><b>{% translate "Objectives of the decision support tool:" %}</b></p>
  <p class="text-p">{% translate "Using the scientific outcomes from the project, this tool is designed to facilitate decision-makers in evaluating and comparing different NBS approaches based on a range of NCP indicators." %}</p> 
  <p class="text-p">{% translate "The tool offers users the flexibility to contextualize the analysis by setting a number of parameters such as the choice of NCP indicators and their weighting." %}
    </p>
  <div class="button">
    
        
        {% if user.is_authenticated %}
        <a href="{% url 'start_analysis' %}"><button type="button" class="btn btn-success btn-lg">{% translate "Start" %}</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-success btn-lg">{% translate "Start" %}</button></a>
        {% endif %}
        
  </div>
  </div>

  







<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>