<html>
<head>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    
    {% load static %}

    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width">
    <meta charset="utf-8" />


    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />-->
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script type="text/javascript" src="/static/index.js"></script>

    

</head>
<style>

.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
.same_lenght{
  width: 150px;
}

</style>
<body class="coverMap">

  <!-- adding navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">
        <img class="brandsize" src="{% static 'images/logo.jpg' %}" alt="">
      </span>


      <!-- the hamberger view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

          <!-- adding collapsable elements to the navbar -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          

          <!-- Login sigin links -->
                  <div class="navbar-nav ml-auto">
                    {% block content %}
                      {% if user.is_authenticated %}

                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <span class="navbar-text">
                            Hi {{ user.username }}!
                          </span>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                        </ul>

                        {% else %}

                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <span class="navbar-text">
                              You are not logged in:
                            </span>
                          </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">login</a></li>
                        <li class="nav-item">
                          <span class="navbar-text">
                              |
                          </span>
                        </li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">signup</a></li>
                        </ul>
                      {% endif %}
                    {% endblock %}
                  </div>
        </div>

        
  </nav>

  <div class="div1">
    <p>
  Within the framework of the Ponderful project, we aim to provide decision-makers involved in pond management and development policy with a decision support tool, which helps them:</p>
  
    <p class="text-p">In choosing a strategic option (continue as before, increase the number of ponds a little or a lot)</p>
    <p class="text-p">To have a ready-made project (with a map of all new ponds, their location, costs, etc.)</p>
    
  <p>
    Objectives of the decision support tool: </p>
  <p class="text-p">The decision support tool builds on the scientific results of the project to help decision makers understand the advantages and disadvantages of the major policy options available to them.</p> 
  <p class="text-p">The tool allows the user to contextualize the analysis by setting a number of parameters such  as the choice of criteria and their weighting. 
    </p>
  <div class="button">
    <button onclick=toggleDivs() type="button" class="btn btn-dark btn-lg">What are the steps?</button>
  </div>
  </div>

  <div class="div2">
    <p>The tool has four main steps, which some steps has some sub-steps, the main steps include:</br>
    </br>
      1. Selection of parameters of the zone of interest</br>
      2. Selection of decision criteria</br>
      3.Ranking the decision criteria</br>
      4.Assigning weights to the criteria</br>
      5. Selection of scenario</br>
      6. Selection of parameters for building strategic actions</br>
      7. Assigning satisfaction thresholds for each criteria</br>
      8. Run MCDA</br>
      9. Visualize results</br>
      
      <div>
        <button onclick=toggleDivs() type="button" class="btn btn-dark btn-lg">Back to Home Page</button>
        
        {% if user.is_authenticated %}
        <a href="{% url 'map' %}"><button type="button" class="btn btn-success btn-lg">Start</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-success btn-lg">Start</button></a>
        {% endif %}
        
      </div>
      </p>
  </div>







<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>

