<!DOCTYPE html>
<html>
<head>
    <title>GeoDjango Map</title>
    {% load static %}
    {% load leaflet_tags %}
    {{ form.media }}
</head>
<body style="height: 100%; width: 100%;">
    <h2>Create Study Area</h2>
    <form method="post" action="{% url 'map' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Study Area</button>
    </form>

    <div id="map" ></div>

    {% leaflet_map "map" callback="map_init" %}
    <script>
        function map_init(map, options) {
            var drawnItems = new L.FeatureGroup();
            map.addLayer(drawnItems);

            var drawControl = new L.Control.Draw({
                draw: {
                    polygon: true,
                    marker: false,
                    polyline: false,
                    rectangle: false,
                    circle: false
                },
                edit: {
                    featureGroup: drawnItems
                }
            });
            map.addControl(drawControl);

            map.on('draw:created', function (e) {
                var layer = e.layer;
                drawnItems.addLayer(layer);
                var geojson = layer.toGeoJSON();

                // Update the geom field in the form
                document.getElementById('id_geom').value = JSON.stringify(geojson.geometry);
            });
        }
    </script>
</body>
</html>