<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />

        <style>

.criteria-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.criteria-name {
    flex-grow: 1;
}

.weight-fields {
    width: 1000px; /* Adjust the width as needed */
}

        </style>
        <body>
            
            <form method="post" action="{% url 'add_weight' %}">
                {% csrf_token %}
                    
                    
                    {{ formset.management_form }}
    
                    
                    {% for form in formset %}
                    <div class="criteria-container">
                        
                        <div class="weight-fields">
                            {{ form.as_p }}
                        
                           
                           
                        </div>
                    </div>
                {% endfor %}
                    
                    
                    
                
                <input type="submit" value="Submit">
            </form>
           

        </body>
    </head>
</html>